::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #3f83f8a6;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: #3f83f8;
    border-radius: 12px;
}

*::selection {
    background: blue;
    color: black;
}

body {
    background-color: #171717;
    margin:  0px;
}

.full-image {
	width: 100%;
    position: relative;
}

main {
    width: auto;
    height: auto;
}

a {
    color: white;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
}

a:active {
    color: white;
    font-family: 'Fira Code', monospace;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: none;
}

article {
    width: 1000px;
    margin: auto;
}

article .project-banner {
    height: 400px;
    width: 1000px;
    position: relative;
}

.hide {
    display: none;
}

.banner {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

li {
    list-style-type: none;
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

footer {
    margin-top: 40px;
}